body {
    background-color: black;
}

#canvas {
    position: absolute;
    top: 0px;
    left: 0px;
}

#label {
    position: absolute;
    top: 25px;
    left: 20px;

    color: white;
    font-size: 50px;

    visibility: visible;
}

#timeInput {
    position: absolute;
    top: 25px;
    left: 950px;

    font-size: 50px;
    text-align: center;

    width: 150px;
    height: 75px;

    border: 1px solid gray;
    border-radius: 25px;

    visibility: visible;
}
  
#timeInput:focus {
    border: 1px solid Gold;
    outline: 1px solid Gold;
}

#timeInput::-webkit-outer-spin-button,
#timeInput::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

#start {
    position: absolute;
    top: 25px;
    left: 1125px;

    font-size: 50px;
    text-align: center;

    width: 150px;
    height: 75px;

    border: 1px solid gray;
    border-radius: 25px;

    visibility: visible;
}

#stop {
    position: absolute;
    top: 25px;
    left: 25px;

    font-size: 50px;
    text-align: center;

    width: 150px;
    height: 75px;
    
    border: 1px solid gray;
    border-radius: 25px;

    visibility: hidden;
}

button:active {
    border: 1px solid Gold;
    outline: 1px solid Gold;
}