/* canvas */
#canvas {
    position: absolute;
    top: 0px;
    left: 0px;
}

/* title screen */
#titleText {
    position: absolute;
    top: 15vh;
    left: 50vw;
    transform: translate(-50%, -50%);

    color: black;
    font-size: 8vw;

    visibility: visible;
}

#titleTextSub {
    position: absolute;
    top: 20vh;
    left: 50vw;
    transform: translate(-50%, -50%);

    color: black;
    font-size: 4vw;

    visibility: visible;
}

#explainText {
    position: absolute;
    top: 35vh;
    left: 50vw;
    transform: translate(-40%, -50%);

    color: black;
    font-size: 3vw;

    width: 60vw;

    visibility: visible;
}

#inhaleTimeText {
    position: absolute;
    top: calc(55vh - 4vw);
    left: 35vw;
    transform: translate(-50%, -50%);

    color: black;
    font-size: 4vw;

    visibility: visible;
}

#exhaleTimeText {
    position: absolute;
    top: calc(55vh - 4vw);
    left: 65vw;
    transform: translate(-50%, -50%);

    color: black;
    font-size: 4vw;

    visibility: visible;
}

#inhaleTimeInput {
    position: absolute;
    top: calc(55vh + 4vw);
    left: 35vw;
    transform: translate(-50%, -50%);

    background-color: whitesmoke;
    color: black;
    font-size: 4vw;
    text-align: center;

    width: 16vw;
    height: 8vw;

    border: 0.1vw solid gray;
    border-radius: 4vw;

    visibility: visible;
}

#exhaleTimeInput {
    position: absolute;
    top: calc(55vh + 4vw);
    left: 65vw;
    transform: translate(-50%, -50%);

    background-color: whitesmoke;
    color: black;
    font-size: 4vw;
    text-align: center;

    width: 16vw;
    height: 8vw;

    border: 0.1vw solid gray;
    border-radius: 4vw;

    visibility: visible;
}

#volumeText {
    position: absolute;
    top: calc(70vh - 2vw);
    left: 50vw;
    transform: translate(-50%, -50%);

    color: black;
    font-size: 4vw;

    visibility: visible;
}

#volumeInput {
    position: absolute;
    top: calc(70vh + 2vw);
    left: 50vw;
    transform: translate(-50%, -50%);

    background-color: whitesmoke;
    color: black;
    font-size: 4vw;
    text-align: center;

    border-radius: 4vw;

    visibility: visible;
}

input:focus {
    border: 0.1vw solid Gold;
    outline: 0.1vw solid Gold;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

#startButton {
    position: absolute;
    top: 85vh;
    left: 50vw;
    transform: translate(-50%, -50%);

    background-color: whitesmoke;
    color: black;
    font-size: 8vw;
    text-align: center;

    width: 24vw;
    height: 12vw;

    border: 0.1vw solid gray;
    border-radius: 4vw;

    visibility: visible;
}

/* main screen */
#resumeButton {
    position: absolute;
    top: 7vh;
    left: 35vw;
    transform: translate(-50%, -50%);

    background-color: whitesmoke;
    color: black;
    font-size: 3vw;
    text-align: center;

    width: 12vw;
    height: 6vw;
    
    border: 0.1vw solid gray;
    border-radius: 1vw;

    visibility: hidden;
}

#pauseButton {
    position: absolute;
    top: 7vh;
    left: 35vw;
    transform: translate(-50%, -50%);

    background-color: whitesmoke;
    color: black;
    font-size: 3vw;
    text-align: center;

    width: 12vw;
    height: 6vw;
    
    border: 0.1vw solid gray;
    border-radius: 1vw;

    visibility: hidden;
}

#backButton {
    position: absolute;
    top: 7vh;
    left: 65vw;
    transform: translate(-50%, -50%);

    background-color: whitesmoke;
    color: black;
    font-size: 3vw;
    text-align: center;

    width: 12vw;
    height: 6vw;
    
    border: 0.1vw solid gray;
    border-radius: 1vw;

    visibility: hidden;
}

#setsText {
    position: absolute;
    top: calc(90vh - 3vw);
    left: 25vw;
    transform: translate(-50%, -50%);

    color: black;
    font-size: 3vw;

    visibility: hidden;
}

#repsText {
    position: absolute;
    top: calc(90vh - 3vw);
    left: 50vw;
    transform: translate(-50%, -50%);

    color: black;
    font-size: 3vw;

    visibility: hidden;
}

#setsInput {
    position: absolute;
    top: calc(90vh + 3vw);
    left: 25vw;
    transform: translate(-50%, -50%);

    background-color: whitesmoke;
    color: black;
    font-size: 3vw;
    text-align: center;

    width: 12vw;
    height: 6vw;

    border: 0.1vw solid gray;
    border-radius: 3vw;

    visibility: hidden;
}

#repsInput {
    position: absolute;
    top: calc(90vh + 3vw);
    left: 50vw;
    transform: translate(-50%, -50%);

    background-color: whitesmoke;
    color: black;
    font-size: 3vw;
    text-align: center;

    width: 12vw;
    height: 6vw;

    border: 0.1vw solid gray;
    border-radius: 3vw;

    visibility: hidden;
}

#SetsAndRepsText {
    position: absolute;
    top: 90vh;
    left: 75vw;
    transform: translate(-50%, -50%);

    color: black;
    font-size: 4vw;

    visibility: hidden;
}

button:active {
    border: 0.1vw solid Gold;
    outline: 0.1vw solid Gold;
}