body {
    background-color: black;
}

#canvas {
    position: absolute;
    top: 0px;
    left: 0px;

    background-color: whitesmoke;
}

#timeSetText {
    position: absolute;
    top: 17.5vh;
    left: 50vw;
    transform: translate(-50%, -50%);

    color: whitesmoke;
    font-size: 3vw;

    visibility: visible;
}

/* #allTimeSet {
    position: absolute;
    top: 27.5vh;
    left: 50vw;
    transform: translate(-50%, -50%);

    color: whitesmoke;
    font-size: 1vw;

    visibility: visible;
} */

#upTimeSet {
    position: absolute;
    top: 27.5vh;
    left: 35vw;
    transform: translate(-50%, -50%);

    color: whitesmoke;
    font-size: 1vw;

    visibility: visible;
}

#downTimeSet {
    position: absolute;
    top: 27.5vh;
    left: 65vw;
    transform: translate(-50%, -50%);

    color: whitesmoke;
    font-size: 1vw;

    visibility: visible;
}

/* #allTimeInput {
    position: absolute;
    top: 35vh;
    left: 50vw;
    transform: translate(-50%, -50%);

    background-color: whitesmoke;
    color: black;
    font-size: 1.5vw;
    text-align: center;

    width: 5vh;
    height: 2.5vw;

    border: 0.1vw solid gray;
    border-radius: 1vw;

    visibility: visible;
} */

#upTimeInput {
    position: absolute;
    top: 35vh;
    left: 35vw;
    transform: translate(-50%, -50%);

    background-color: whitesmoke;
    color: black;
    font-size: 1.5vw;
    text-align: center;

    width: 5vw;
    height: 2.5vw;

    border: 0.1vw solid gray;
    border-radius: 1vw;

    visibility: visible;
}

#downTimeInput {
    position: absolute;
    top: 35vh;
    left: 65vw;
    transform: translate(-50%, -50%);

    background-color: whitesmoke;
    color: black;
    font-size: 1.5vw;
    text-align: center;

    width: 5vw;
    height: 2.5vw;

    border: 0.1vw solid gray;
    border-radius: 1vw;

    visibility: visible;
}
  
input:focus {
    border: 0.1vw solid Gold;
    outline: 0.1vw solid Gold;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* #backgroundColorSetText {
    position: absolute;
    top: 52.5vh;
    left: 50vw;
    transform: translate(-50%, -50%);

    color: whitesmoke;
    font-size: 3vw;

    visibility: visible;
}

#backgroundColor {
    position: absolute;
    top: 62.5vh;
    left: 50vw;
    transform: translate(-50%, -50%);

    background-color: whitesmoke;
    color: black;
    font-size: 1vw;
    text-align: center;

    width: 6vw;
    height: 3vw;

    border: 0.1vw solid gray;
    border-radius: 1vw;

    visibility: visible;
} */

#start {
    position: absolute;
    top: 77.5vh;
    left: 50vw;
    transform: translate(-50%, -50%);

    background-color: whitesmoke;
    color: black;
    font-size: 2vw;
    text-align: center;

    width: 8vw;
    height: 4vw;

    border: 0.1vw solid gray;
    border-radius: 3vw;

    visibility: visible;
}

#stop {
    position: absolute;
    top: 1vw;
    left: 1vw;

    background-color: whitesmoke;
    color: black;
    font-size: 2vw;
    text-align: center;

    width: 8vw;
    height: 4vw;
    
    border: 0.1vw solid gray;
    border-radius: 1vw;

    visibility: hidden;
}

button:active {
    border: 0.1vw solid Gold;
    outline: 0.1vw solid Gold;
}
