/* canvas */
#canvas {
    position: absolute;
    top: 0px;
    left: 0px;
}

/* title screen */
#titleText {
    position: absolute;
    top: 15vh;
    left: 50vw;
    transform: translate(-50%, -50%);

    color: black;
    font-size: 8vw;

    visibility: visible;
}

#inTimeText {
    position: absolute;
    top: calc(40vh - 4vw);
    left: 35vw;
    transform: translate(-50%, -50%);

    color: black;
    font-size: 4vw;

    visibility: visible;
}

#exTimeText {
    position: absolute;
    top: calc(40vh - 4vw);
    left: 65vw;
    transform: translate(-50%, -50%);

    color: black;
    font-size: 4vw;

    visibility: visible;
}

#inTimeInput {
    position: absolute;
    top: calc(40vh + 4vw);
    left: 35vw;
    transform: translate(-50%, -50%);

    background-color: whitesmoke;
    color: black;
    font-size: 4vw;
    text-align: center;

    width: 16vw;
    height: 8vw;

    border: 0.1vw solid gray;
    border-radius: 4vw;

    visibility: visible;
}

#exTimeInput {
    position: absolute;
    top: calc(40vh + 4vw);
    left: 65vw;
    transform: translate(-50%, -50%);

    background-color: whitesmoke;
    color: black;
    font-size: 4vw;
    text-align: center;

    width: 16vw;
    height: 8vw;

    border: 0.1vw solid gray;
    border-radius: 4vw;

    visibility: visible;
}

#volumeText {
    position: absolute;
    top: calc(60vh - 2vw);
    left: 50vw;
    transform: translate(-50%, -50%);

    color: black;
    font-size: 4vw;

    visibility: visible;
}

#volumeInput {
    position: absolute;
    top: calc(60vh + 2vw);
    left: 50vw;
    transform: translate(-50%, -50%);

    background-color: whitesmoke;
    color: black;
    font-size: 4vw;
    text-align: center;

    border-radius: 4vw;

    visibility: visible;
}

input:focus {
    border: 0.1vw solid Gold;
    outline: 0.1vw solid Gold;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

#startButton {
    position: absolute;
    top: 75vh;
    left: 50vw;
    transform: translate(-50%, -50%);

    background-color: whitesmoke;
    color: black;
    font-size: 8vw;
    text-align: center;

    width: 32vw;
    height: 16vw;

    border: 0.1vw solid gray;
    border-radius: 8vw;

    visibility: visible;
}

/* main screen */
#stopButton {
    position: absolute;
    top: 2vw;
    left: 2vw;

    background-color: whitesmoke;
    color: black;
    font-size: 3vw;
    text-align: center;

    width: 12vw;
    height: 6vw;
    
    border: 0.1vw solid gray;
    border-radius: 3vw;

    visibility: hidden;
}

#setsText {
    position: absolute;
    top: calc(40vh - 4vw);
    left: 35vw;
    transform: translate(-50%, -50%);

    color: black;
    font-size: 4vw;

    visibility: visible;
}

#repsText {
    position: absolute;
    top: calc(40vh - 4vw);
    left: 65vw;
    transform: translate(-50%, -50%);

    color: black;
    font-size: 4vw;

    visibility: visible;
}

#setsInput {
    position: absolute;
    top: calc(40vh + 4vw);
    left: 35vw;
    transform: translate(-50%, -50%);

    background-color: whitesmoke;
    color: black;
    font-size: 4vw;
    text-align: center;

    width: 16vw;
    height: 8vw;

    border: 0.1vw solid gray;
    border-radius: 4vw;

    visibility: visible;
}

#repsInput {
    position: absolute;
    top: calc(40vh + 4vw);
    left: 65vw;
    transform: translate(-50%, -50%);

    background-color: whitesmoke;
    color: black;
    font-size: 4vw;
    text-align: center;

    width: 16vw;
    height: 8vw;

    border: 0.1vw solid gray;
    border-radius: 4vw;

    visibility: visible;
}

button:active {
    border: 0.1vw solid Gold;
    outline: 0.1vw solid Gold;
}