input:focus {
    border: 0.15vw solid gold;
    outline: 0.15vw solid gold;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

button:active {
    border: 0.15vw solid gold;
    outline: 0.15vw solid gold;
}

#insightButton:active {
    color: gold;

    border: none;
    outline: none;
}

/* canvas */
#canvas {
    position: absolute;
    top: 0px;
    left: 0px;
}

/* title screen */
#titleText {
    position: absolute;
    top: 15vh;
    left: 50vw;
    transform: translate(-50%, -50%);

    color: black;

    visibility: visible;
}

#titleTextSub {
    position: absolute;
    top: 20vh;
    left: 50vw;
    transform: translate(-50%, -50%);

    color: black;

    visibility: visible;
}

#explainText {
    position: absolute;
    top: 35vh;
    left: 50vw;

    color: black;

    visibility: visible;
}

#inhaleTimeText {
    position: absolute;
    left: 35vw;
    transform: translate(-50%, -50%);

    color: black;

    visibility: visible;
}

#exhaleTimeText {
    position: absolute;
    left: 65vw;
    transform: translate(-50%, -50%);

    color: black;

    visibility: visible;
}

#inhaleTimeInput {
    position: absolute;
    left: 35vw;
    transform: translate(-50%, -50%);

    background-color: whitesmoke;
    color: black;
    text-align: center;

    border: 0.1vw solid gray;

    visibility: visible;
}

#exhaleTimeInput {
    position: absolute;
    left: 65vw;
    transform: translate(-50%, -50%);

    background-color: whitesmoke;
    color: black;
    text-align: center;

    border: 0.1vw solid gray;

    visibility: visible;
}

#insightButton {
    position: absolute;
    top: 70vh;
    left: 50vw;
    transform: translate(-50%, -50%);

    background-color: whitesmoke;
    color: #0075FF;

    border: none;

    visibility: visible;
}

#startButton {
    position: absolute;
    top: 85vh;
    left: 50vw;
    transform: translate(-50%, -50%);

    background-color: whitesmoke;
    color: black;
    text-align: center;

    border: 0.1vw solid gray;

    visibility: visible;
}

/* insight screen */
#insightBackButton {
    position: absolute;
    transform: translate(-50%, -50%);

    background-color: whitesmoke;
    color: black;
    text-align: center;
    
    border: 0.1vw solid gray;

    visibility: hidden;
}

#insightText {
    position: absolute;
    left: 50vw;
    transform: translate(-50%, 0%);
    
    /* this is necessary for 
     * the insightBackButton to be pressed */
    z-index: -1;

    color: black;

    visibility: hidden;
}

/* main screen */
#setsText {
    position: absolute;
    transform: translate(-50%, -50%);

    color: black;

    visibility: hidden;
}

#repsText {
    position: absolute;
    left: 50vw;
    transform: translate(-50%, -50%);

    color: black;

    visibility: hidden;
}

#setsInput {
    position: absolute;
    transform: translate(-50%, -50%);

    background-color: whitesmoke;
    color: black;
    text-align: center;

    border: 0.1vw solid gray;

    visibility: hidden;
}

#repsInput {
    position: absolute;
    left: 50vw;
    transform: translate(-50%, -50%);

    background-color: whitesmoke;
    color: black;
    text-align: center;

    border: 0.1vw solid gray;

    visibility: hidden;
}

#SetsAndRepsText {
    position: absolute;
    transform: translate(-50%, -50%);

    color: black;

    visibility: hidden;
}

#resumeButton {
    position: absolute;
    transform: translate(-50%, -50%);

    background-color: whitesmoke;
    color: black;
    text-align: center;
    
    border: 0.1vw solid gray;

    visibility: hidden;
}

#pauseButton {
    position: absolute;
    transform: translate(-50%, -50%);

    background-color: whitesmoke;
    color: black;
    text-align: center;
    
    border: 0.1vw solid gray;

    visibility: hidden;
}

#mainBackButton {
    position: absolute;
    transform: translate(-50%, -50%);

    background-color: whitesmoke;
    color: black;
    text-align: center;
    
    border: 0.1vw solid gray;

    visibility: hidden;
}